.drop-box {
  background: #F8F8F8;
  border: 2px dashed #DDD;
  height: 90px;
  text-align: center;
  margin: 10px;
  padding-top: 30px;
  /*margin-top: 30px;*/
  vertical-align: middle;
}

.text-box {
  margin: 10px;
}

.drop-box.dragover {
  border-color: #0e0;
  background-color: #b2fab2;
}

.drop-box.dragover-err {
  border-color: #f00;
  background-color: #ffb2b2;
}

textarea {
    resize: vertical;
}

md-hue-1 {
  background-color: #03a9f4;
}
